@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.container-grid{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: #1E1C21;
    height: 80px;
}

.menu{
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.menu a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
